html, body
{
    height: 100%;
    margin:0;
    padding:0;
}
div {
    position:relative;
    height: 100%;
    width:100%;
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.bomb
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.api1
{
	color:#3b5998;
	background-color: white;
	border-radius: 50%;
}
.api2
{
	color:#1da1f2;
	background-color: white;
	border-radius: 50%;
}
.api1:hover
{
	background-color:#3b5998;
	color:white; 
	-webkit-transition:all .8s ease-in-out;
	-moz-transition:all .8s ease-in-out;
	-o-transition:all .8s ease-in-out;
	transition:all .8s ease-in-out;
	cursor:pointer;
}
.api2:hover
{
	background-color:#1da1f2;
	color:white; 
	-webkit-transition:all .8s ease-in-out;
	-moz-transition:all .8s ease-in-out;
	-o-transition:all .8s ease-in-out;
	transition:all .8s ease-in-out;
	cursor:pointer;
}
.lol
{
	margin-top: 20px;
}
.hidden
{
	visibility: hidden;
}
.text-center
{
	text-align: center;
}